
@media only screen and (min-width: 576px) {


    .container{
  
       /* width: 50vw; */
       /* height: 505vh; */
       /* margin: 0 auto; */
       margin-right: 80px;
       margin-left: 80px;

    }
    .container__title{
        font-family: var(--ff-title);
        font-size: 25px;
        text-align: right !important;
        /* text-align: center; */
        margin: 0 auto;
       padding-right: 150px !important;
       }

       .row{

        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        width: 700px;
        flex-wrap: wrap;
        height: 500px;
        /* margin: 0 auto; */
        padding-right: 0;
        margin-top: 0;
    
    }
    .section1{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    width: 90vw;

        display: flex;
        flex-direction: row;
        /* ............ */
        width: 400px !important;
        height: 200px;
        margin-top: 20px;
        margin-right: 20px;
    }
    .section1__head{
    
        font-family: var(--ff-button);
        display:flex;
        width: 400px;
        height: 55px;
        padding: 5px;
        margin-right: 5px;
    }
    .section1__head__date{
        color: var(--color-date);
        font-family: var(--ff-date);
        font-size: 12px;
        margin: 7px 10px;
        /* padding-left: 0; */
        padding-top: 5px;
       margin-right: 80px !important;
       
    }
     .section-footer{
    /* main */
    .section-main{
        line-height: 27px;
        margin-top: 0;
      width: 50%;
      margin-right: 5px;

    }
    .section-main__title{
        font-family: var(--ff-title);
        font-size: 20px;
        padding-right: 5px;
    
    }
    .section-main__subt{
        font-family: var(--ff-date);
        color: var(--color-date);
        font-size: 12px;
        padding-right: 5px;
        padding-bottom:10px ;
    
    }
        /* footer */
    .section-footer{
        display:flex;
        flex-direction: row;
        margin-right: 5px;
        
        
    }
    .section-footer__img{
        width: 40px;
        height: 40px;
        border-radius:8px ;
        margin-right: 5px ;
    }
    .section-footer__name{
        font-family: var(--ff-name);
        text-align: center;
        padding:5px;
        /* padding-left: 100px; */
        padding-top: 8px;
    }
    .section-footer__btn1{
        color: var(--textcolor-button);
        font-family: var(--ff-button);
        background-color: var(--color-button);
        font-size: 16px !important;
        border-radius:8px ;
        width: 150px ;
        height: 64px ;
        border:none;
        outline: none;
     
      
    
    
    
    }

}
.section-footer__btn1__link{
    text-decoration: none;
    font-size: 16px !important;
    color: var(--textcolor-button);
    padding: 10px;
}}
@media only screen and (min-width: 768px) {
    .container{
  
       /* width: 70vw; */
       /* height: 70vh; */
/*          */
    }
    .container__title{
        font-family: var(--ff-title);
        font-size: 25px;
        text-align: right !important;
        padding-right: 200px !important;
       }

       .row{

        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
        width: 700px;
        flex-wrap: wrap;
height: 500px;
        /* margin: 0 auto; */
        padding-right: 0;
        margin-top: 0;
    
    }
    .section1{
    }
    .section1__head{
    
        font-family: var(--ff-button);
        display:flex;
        width: 400px;
        height: 55px;
        padding: 5px;
        margin-right: 5px;
    }
    .section1__head__date{
        color: var(--color-date);
        font-family: var(--ff-date);
        font-size: 12px;
        margin: 7px 10px;
        /* padding-left: 0; */
        padding-top: 5px;
       margin-right: 80px !important;
       
    }
     .section-footer{
    /* main */
    .section-main{
        line-height: 27px;
        margin-top: 0;
      width: 50%;
      margin-right: 5px;

    }
    .section-main__title{
        font-family: var(--ff-title);
        font-size: 20px;
        padding-right: 5px;
    
    }
    .section-main__subt{
        font-family: var(--ff-date);
        color: var(--color-date);
        font-size: 12px;
        padding-right: 5px;
        padding-bottom:10px ;
    
    }
        /* footer */
    .section-footer{
        display:flex;
        flex-direction: row;
        margin-right: 5px;
        
        
    }
    .section-footer__img{
    }
    .section-footer__name{
    }
    .section-footer__btn1{
    }

}
}
@media only screen and (min-width: 992px) {
    .container{
        /* width: 50vw; */
        /* height: 50vh; */

        
        }
    .container__title{
        font-family: var(--ff-title);
        font-size: 25px;
        text-align: right;
       padding-right:250px !important;
       }
}
@media only screen and (min-width: 1400px) {
    .container{
        /* width: 50vw; */
        /* height: 50vh; */
/*           */
     }
     .container__title{
         font-family: var(--ff-title);
         font-size: 25px;
         text-align: right;
        padding-right: 200px !important;
        }
        .row{
         display: flex;
         flex-direction: row !important;
         align-items: center;
         justify-content: space-between;
         width: 700px;
         flex-wrap: wrap;
         margin: 0 auto;
         padding-right: 0;
         margin-top: 0;
     }
     .section1{
        display: flex;
        flex-direction: row;
        /* ................ */

         width: 400px !important;
         height: 200px;
         margin-top: 20px;
         margin-right: 20px;
     }
     .section1__head{
    
        font-family: var(--ff-button);
        display:flex;
        width: 400px;
        height: 55px;
        padding: 5px;
        margin-right: 5px;
    }
    .section1__head__date{
        color: var(--color-date);
        font-family: var(--ff-date);
        font-size: 12px;
        /* padding-left: 0; */
        padding-top: 5px;
       /* margin-right: 500px !important; */
       margin-left: 0;
       
    }
     .section-footer{
        display:flex;
        flex-direction: row;
        margin-right: 5px;
        
        
    }
     .section-footer__img{
        width: 40px;
        height: 40px;
        border-radius:8px ;
        margin-right: 5px ;
    }
    .section-footer__name{
        font-family: var(--ff-name);
        text-align: center;
        padding:5px;
        /* padding-left: 100px !important; */
        padding-top: 8px;
    }
    .section-footer__btn1{
        color: var(--textcolor-button);
        font-family: var(--ff-button);
        background-color: var(--color-button);
        font-size: 16px !important;
        border-radius:8px ;
        width: 150px !important;
        height: 64px;
        border:none;
        outline: none;
     
      
    
}}